<h1>Login</h1>
<form action="/landing" method="get">
  <input type="text" name="username" placeholder="username">

  <input type="password" name="password" placeholder="password">

  <input type="submit" value="Submit">
</form>
<br />
<%= link_to 'Edit your contact', contacts_path %>
